<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
    <h1> Your ToDo List </h1>
</header>

<form action='/add-todo' method="post">
<div class="container">
    <div class="description">
        <p>Description</p>
        <textarea name="description" id="des-text" cols="60" rows="2" placeholder="What do you need to do?" required></textarea>
    </div>
    <div class="catg-date-section">
        <div class="catagory-list">
            Catagory
                <select name="catagory" id="cat-type" required>
                    <option value="">Choose Your Reminder Catagory</option>
                    <option value="Urgent">Urgent</option>
                    <option value="Important">Important</option>
                    <option value="Personal">Personal</option>
                    <option value="Social">Social</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                </select>

        </div>

        <div class="date">
            Due Date
            <div><input type="date" id="date" name="date"></div>
        </div>
    </div>
    <div class="buttons">
        
        <div class="add-button">
           <button type="submit"><i class="fa-regular fa-plus addicon-bg" style="color: #ffffff;"></i> Add Task </button>
        </div>

        <div class="del-button">
            <button type="button"> <i class="fa-solid fa-trash delicon-bg" style="color: #ffffff;"></i> Delete Task </button>
        </div>
    </div>
    <div class="list-container" id="listid">
        
            <% for (const todo of todo_list) { %>
                <table class="apendList">
                <tr>
                    <td style="width: 60vw; border-bottom: 2px solid white; border-radius: 10px;">
                        <input type="checkbox" name="status" todo-item-id="<%= todo._id %>" class="custom-checkbox">
                        <span id="apendDes"> 
                            <%= todo.description %>
                        </span>
                    </td>
                    <td style="width: 15vw; text-align: center; border-radius: 10px; border-left: 2px solid white; border-right: 2px solid white; border-bottom: 2px solid white;">
                        <span id="apendDate">
                            <%= todo.date %>
                        </span>
                    </td>
                    <td style="width: 15vw; text-align: center; border-left: 2px solid white; border-right: 2px solid white; border-bottom: 2px solid white; border-radius: 10px;" class="<%= todo.catagory %>">
                        <span id="apendCat" class="<%= todo.catagory %>">
                            <%= todo.catagory %>
                        </span>
                    </td>
                </tr>
                </table>
            <% } %>
    </div>
</div>
</form>



<script src="https://kit.fontawesome.com/bf0cf320c3.js" crossorigin="anonymous"></script>
<script src="/js/home.js"></script>
</body>
</html>